{{ $other := .Site.Data.other }}

<section class="white">
  <h2 class="heading">{{ $other.title }}</h2>
  <h4 style="padding-top: 0.5% ; margin-left:1em" >{{ $other.item_title }}</h4>
 
  {{ range $index, $element := $other.other }}

    <div style="padding-top: 0.5%  ; margin-left:3em" class="">            
        <h6 class="mt-4">{{ $element.title }}</h6>
        <p class="text-muted">{{ $element.description }}</p>
     </div>
    
    {{ end }}


  <h4 style="padding-top: 0.5% ; margin-left:1em">Teaching</h4>
  <div style="padding-top: 0.5% ; margin-left:3em" class="">            
        <h6 class="mt-4">Clase-t Project. 09. 2015 - 11. 2015</h6>
        <p class="text-muted">Worker in Clase-t project directed by Universidad Nacional de Colombia and “computer for schools”, ICT Colombian Ministry program.</p>

        <h6 class="mt-4">Graduate Student Instructor. 02. 2014 - 07. 2015</h6>
        <p class="text-muted">Graduate student instructor at the Electronic and Electrical Engineering department for the Digital Electronic I and Technique Integration.</p>
     </div>

</section>

