{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted">{{ $sidebar.description }}</p>

    <div class="social my-4">
        <a target="_blank" href="mailto:mxbastidasr@unal.edu.co">
            <img src="images/mail.png" height="30" width="30"/>
          </a>
          
      <a target="_blank" href="https://scholar.google.co.uk/citations?hl=en&pli=1&user=7YiNG0YAAAAJ">
      <img src="images/scholar.png" height="30" width="30"/>
      </a>

     
      
      
    </div>

    
  </div>
</section>